@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Rock+Salt&display=swap') ;

body {
    background-color: whitesmoke;
    margin: 0;
    padding: 0;
}
h2 {
    margin: 0;
}
.home-title {
    font-family: 'Rock Salt', 'Roboto   ', sans-serif;
    font-size: 2em;
}
a .nav_link {
    padding: 30px;
    font-size: 1.3em;
    color: black;
}
#content{
    max-width: 1600px;
    margin:0 auto;
    
}
#background {
    height: 725px;
    background-color: blue;

}
body {
    background-color: #d48484;
    font-family: Raleway, Arial, sans-serif;
    font-size: 22px;
    margin: 0;
    padding: 0;
}
header {
    background-color:rgba(20,30,13, .7);
    text-align: left;
}
nav a:hover {
    background-color: black;
    color:rgb(141, 25, 25)
}
nav a {
    text-align: center;
    color: #fcfbfb;
    text-decoration: none;
    padding: 35px;
} 
.home-title{
    color:forestgreen;
    margin-top: 10px;
}
.book, .join {
    background-color: rgb(40, 92, 92);
    text-align: center;
    color: #fcfbfb;
    text-decoration: none;
    padding: 10px;
    border-radius: 5px;
    font-size: 18px;
    padding: 15px 30px;
    margin-top: 50px;
    border-radius: 5px;
}
.book:hover, .join:hover{
    background-color: blueviolet;
    color:bisque
}
.msg h2 {
    color:greenyellow ;
    font-family: 'Rock Salt', 'Roboto   ', sans-serif;
}
.msg p{
    color:lightgrey;
    font-size: .8em;
    padding-bottom: 15px;
}
.msg{
    background-color: blueviolet;
    color: blue;
    line-height: 1.5em;
    padding: 35px;
}
footer{
    background-color: rebeccapurple;
    color:beige;
    padding: 25px 50px;
    margin-top: 200px;
}
footer a{
    text-align: center;
    color: #fcfbfb;
    text-decoration: none;
}
footer a:hover{
    color:crimson;
    text-decoration: none;
}
footer p {
    font-size: 1.2em;
    text-align: left;
}
footer .social img {
    padding-top: 15px;
}
.icon,.logo {
    width: 80px;
}
#logo_link {
    padding-top: 5px;
}
.icon {
    padding-top: 10px;
}
.rivers-card, .camping-card, .rapids-card {
    margin: 200px 0;
}
.card-img{
    border: 10px solid #d9c2a3;

}
main section img {
    box-sizing: border-box;
}
#hero-img{
    width: 100%
}
#hero-msg h1, #hero-msg h4{
    text-align: center;
}
.button-box{
    text-align: center;
}
main section{
    text-align: center;
}
.mountains{
    text-align: left;
}