body {
    background-color: lightblue;
}
a .nav_link {
    padding: 10px;
    font-size: 1.3em;
    color: black;
}
    img{
        width: 300px
    }
    #main_title {
        font-size: 4em;
    }